<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>
<body>

//TODO: FIX NAV MENU

<nav th:fragment="navigation">
    <a href="/login">Login</a> |
    <a href="/login/signup">Signup</a> |
    <a href="/turn-in/add">Add a turn-in</a> |
    <a href="/turn-in/edit">Edit a turn-in</a>
</nav>

</body>
</html>