<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:replace="fragments :: pageTitle">Default Title</h1>


<nav th:replace="fragments :: navigation"></nav>


<h1 th:text="${'Account Balance: $' + employee.accountBalance}"></h1>

<table class="table">

    <tr>
        <th>Date</th>
        <th>Final Petition Count</th>
        <th>% Validity</th>
        <th>Per Sig Payout</th>
        <th>Total Payout</th>
    </tr>

    <tr th:each="turnIn : ${turnIns}">
        <td th:text="${turnIn.date}"></td>
        <td th:text="${turnIn.actualCount}"></td>
        <td th:text="${turnIn.validity}"></td>
        <td th:text="${turnIn.perSignaturePayout}"></td>
        <td th:text="${turnIn.totalPayout}"></td>
    </tr>

</table>
</body>
</html>