<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<!--Displays the initial login form with a link to the sign-up form-->

<form method="post" style="max-width:600px;" th:object="${employee}">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="passwordRetype">Retype Password</label>
        <input class="form-control" th:field="*{passwordRetype}" />
        <span th:errors="*{passwordRetype}" class="error"></span>
        <span th:text="${noMatch}" class="error"></span>

    </div>
    <input type="hidden" name="firstName" id="firstName" value="placeholder" />
    <input type="hidden" name="lastName" id="lastName" value="placeholder" />
    <input type="submit" value="Login" />
    <span th:text="${loginError}" class="error"></span>

</form>
    <p>Don't have an account?
        <a href="/login/signup">Sign-up Here</a>
    </p>
</body>
</html>