<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<span th:text="${successMessage}" class="success"></span>
<form method="post" style="max-width:600px;" th:object="${comment}">
    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" name="username" id="username" th:value="${username}" />
        <span></span>
    </div>

    <div class="form-group">
        <label th:for="type">Reason for contacting us </label>
        <select th:field="*{type}">
            <option th:each="commentType : ${commentTypes}"
                    th:value="${commentType}"
                    th:text="${commentType.name}"></option>
        </select>
        <span th:errors="*{type}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="commentText">Comment:</label>
        <textarea rows="4" cols="80" th:field="*{commentText}">Enter your comment here</textarea>
        <span th:errors="*{commentText}" class="error"></span>
    </div>

    <input type="submit" value="Submit Comment" />

</form>

</body>
</html>